<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>


<form th:object="${payment}" class="form-horizontal" method="post">
    <input type="hidden" name="paymentId" th:value="${id}" />
<div class="form-group has-feedback">

    <input th:replace="~{fragments/inputField :: input ('Input Date', 'inputDate', 'text-readonly')}"  />

    <input th:replace="~{fragments/inputField :: input ('Payment Amount', 'amount', 'float')}"  />


<!--    <label th:class="${#fields.hasErrors('paymentDate')} ? 'alert-danger' : 'dark' ">
        Payment Date:
        <input size="60" type="text" class="form-control" th:field="*{paymentDate}"/></label>-->

    <input th:replace="~{fragments/inputField :: input ('Payment Date', 'paymentDate', 'date')}"  />



<!--    <label th:class="${#fields.hasErrors('comment')} ? 'alert-danger' : 'dark' ">
        Comment:
        <input size="60" type="text" class="form-control" th:field="*{comment}"/></label>-->

    <input th:replace="~{fragments/inputField :: input ('Comments', 'comment', 'text-required')}"  />

<div>
        <button th:with="text=${payment['new']} ? 'Add Payment' : 'Update Payment'" class="btn btn-warning" type="submit">Add Payment</button>
</div>

</form>

<br />
<b>Previous Payments</b>
<table class="table table-striped">
    <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Description</th>
    </tr>
    <tr th:if="${!payment['new']}" th:each="payment : ${payment.account.paymentList}">
        <td th:text="${#temporals.format(payment.paymentDate, 'yyyy-MM-dd')}" /></td>
        <td th:text=" ${payment.amount}" /></td>
        <td th:text=" ${payment.comment}" /></td>
    </tr>
</table>



</body>
</html>