<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">>
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h2>Account View</h2>

<form th:object="${account}" class="form-horizontal" method="post">
    <input type="hidden" name="accountId" th:value="*{id}" />

    <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger" >
        <p>Please correct the Errors Below</p>

        <ul>
            <li th:each="err : ${#fields.errors('*')}" th:text="'Description- ' + ${err}"></li>

        </ul>
    </div>

    <div class="form-group has-feedback flexContent">
        <div class="form-group col-md-3">
            <label >Account Owner:</label>

            <b th:text="${account.getOwner().firstName} + ' ' + ${account.getOwner().lastName}"></b>
            <div>
            <label >Account Balance:</label>
            <span th:text="${account.getBalance()}"></span>
            </div>
            <label >Payment Count:</label>
            <span th:text="${account.getPaymentCount()}"></span>
            <label >Vat Level:</label>
            <span th:text="${account.vatLevel}"></span>
            <label >Account Reference Code:</label>
            <span th:text="${account.accountIDCode}"></span>
        </div>
        <label >Creation Date:</label>

        <b th:text="${account.creationDate}"></b> <p></p>

        Account Active?:
        <input
                type="checkbox"
                name="active"
                th:checked="${account.active}"/>

    </div>
    <div>
        <input th:replace="~{fragments/inputField :: input ('Account Type', 'paymentType', 'text-required')}" th:width="100px" />
        <input th:replace="~{fragments/inputField :: input ('V.A.T Charge', 'vatLevel', 'float-vat')}" th:width="100px" />
        <input required th:replace="~{fragments/inputField :: input ('Payment Due Date:', 'paymentDueDate', 'dayinmonth')}" th:width="100px" />
        <button th:with="text=${account['new']} ? 'Add Account' : 'Update Account'"
                class="btn btn-default" type="submit" style="margin-left: fill" th:text="${text}">Add Account</button>
    </div>
    </div>

</form>

</body>
</html>