<!DOCTYPE html>
<!--/*thymesVar id="vets" type="com.springframework.petclinic.model.Vets"*/-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8"/>
    <title>Index Landing Page</title>

</head>
<body>
<h1>Index Landing Page</h1>

<h2 th:text="#{welcome}">Welcome</h2>

<div class="row">
    <div class="col-md-12">
        <img class="img-responsive" src="../static/resources/images/pets.png" th:src="@{/resources/images/pets.png}"/>
    </div><script>
    document.getElementById("demo").innerHTML = Date().fontcolor("green");
</script>
</div>

</body>
</html>