<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'vet')}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Vet</h2>
<form th:object="${vet}" class="form-horizontal" id="add-payment-form" method="post">
    <div class="form-group has-feedback">
        <input
                th:replace="~{fragments/inputField :: input ('First Name', 'firstName', 'text-required')}" />
        <input
                th:replace="~{fragments/inputField :: input ('Last Name', 'lastName', 'text-required')}" />
        <input
                th:replace="~{fragments/inputField :: input ('Address', 'address', 'text-required')}" />
        <input
                th:replace="~{fragments/inputField :: input ('City', 'city', 'text-required')}" />
        <input
                th:replace="~{fragments/inputField :: input ('Post Code', 'postCode', 'text-required')}" />
        <input
                th:replace="~{fragments/inputField :: input ('Telephone', 'telephone', 'text-required')}" />
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button
                    th:with="text=${vet['new']} ? 'Add Vet' : 'Update Vet'"
                    class="btn btn-default" type="submit" th:text="${text}">Add
                Vet</button>
        </div>
    </div>
</body>
</html>